/* MENU */
.menu {
  height: 75px;
  background-color: #1db458;
}

.menucontain {
  padding-top: 1%;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', Helvetica, serif;
  font-weight: 300;
  color: black;
}

.moblow {
  margin-top: 1%;
  letter-spacing: 1px;
}

.menucontain a:link {
  color: #ffffff;
  text-decoration: none;
}

.menucontain a:visited {
  text-decoration: none;
  color: #ffffff;
}

.menucontain a:hover {
  text-decoration: none;
  color: #ffffff;
}

@media handheld,screen and (max-width: 768px) {
  .menu {
    height: 65px;
  }
}

#logo {
  height: 50px;
}

#name {
  width: 100%;
}

/* END MENU */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fade-in.two {
-webkit-animation-delay: 1.0s;
-moz-animation-delay:1.0s;
animation-delay: 1.0s;
}

.fade-in.three {
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;
}

.fade-in.four {
-webkit-animation-delay: 1.8s;
-moz-animation-delay: 1.8s;
animation-delay: 1.8s;
}

.fade-in.five {
-webkit-animation-delay: 2.2s;
-moz-animation-delay: 2.2s;
animation-delay: 2.2s;
}

.fade-in.six {
-webkit-animation-delay: 2.6s;
-moz-animation-delay: 2.6s;
animation-delay: 2.6s;
}

#conwrap {
  margin-left: 5%;
}

.box{
width: 200px;
height: 200px;
position: relative;
margin-left: 6%; 
margin-top: 5%;
float: left;
text-align: center;
}

.conphoto {
  width: 100%
}

@media (max-width: 700px) {
  .box {
    width: 75px;
    height: 75px;
    margin-left: 5%;
  }
}

