/* painting divs */
.row {
  border: 2px solid red;
}

.block {
  border: 2px solid green;
  background-color: green;
}

.bigphoto {
  border: 2px solid yellow;
  background-color: yellow;
} 
  /* end painting */

.menucontain {
  text-align: center;
}

.bigphoto h1 {
  text-align: center;
}

.trio {
  text-align: center;
}






