.menu {
  height: 50px;
  background-color: white;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .menu {
    text-align: right;
    height: 100px;
  }
}

.menucontain {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 300;
  color: #3366cc;
}

.moblow {
  margin-top: 5px;
}

.menucontain a:link {
  color: #3366cc;
  text-decoration: none;
}

.menucontain a:visited {
  text-decoration: none;
  color: #3366cc;
}

.menucontain a:hover {
  text-decoration: none;
  color: #3366cc;
}

#name {
  font-size: 18px;
  color: black;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 300;
}

.bigphoto {
  background-color: #3366cc;
  height: 600px;
  margin-top: 1%;
} 

@media (max-width: 980px) {
  .bigphoto {
    height: 400px;
  }
}

.bigphoto h2 {
  text-align: left;
  color: white;
  margin-top: 10%;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 300;
  font-size: 75px;
}

@media (max-width: 900px) {
  .bigphoto h2 {
    font-size: 50px;
  }
}

.bigphoto h1 {
  text-align: left;
  color: white;
  margin-top: 10%;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 700;
  font-size: 125px;
}

@media (max-width: 900px) {
  .bigphoto h1 {
    font-size: 40px;
  }
}

.jumbo {
  margin-left: 9%;
}

.jumbo h2 {
  margin-top: 2%;
}

.aboutme {
  margin-top: 5%;
}

.aboutme p {
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 300;
  font-size: 25px;
  width: 80%;
  margin-left: 5%;
  margin-top: 3%;
}

.aboutme h5 {
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 400;
  font-size: 25px;
  color: white;
  border: 2px solid #3366cc;
  background-color: #3366CC;
  border-radius: 5px;
  padding: 5px;
  margin-left: 40%;
  margin-right: 45%;
  margin-top: 3%;
  padding-left: 10px;
}

@media (max-width: 400px) {
  .aboutme p {
    font-size: 8px;
  }
}

#box {
  width: 250px;
  height: 250px;
  background: green;
  margin-left: -25%
}

@media (max-width: 400px) {
  #box {
    width: 100px;
    height: 100px;
  }
}

.core {
  margin-top: 25px;
}

.mini-box {
  border: 1px solid black;
}

.mini-boxtwo {
  border: 1px solid black;
  margin-top: 15px;
}
/* portfolio page */
#header {
  text-align: center;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 400;
  color: #3366cc;
}

.folio {
  text-align: center;
  margin-top: 50px;
}

.contents {
  background-color: #3366cc;
  border: 1px solid black;
  height: 250px;
  width: 250px;
}

/* ABOUT ME PAGE */

.aboutrow {
  margin-top: 25px;
}

.aboutrow2 {
  margin-top: 25px;
}

.aboutmain {
  text-align: center;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 700;
  color: #3366cc;
}

.aboutmain h1 {
  font-size: 100px;
}

.aboutmain h2 {
  font-size: 85px;
}

#mystory {
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 700;
  color: #3366cc;
}

/* connect page */
#concon {
  text-align: center;
  background-color: #3366cc;
}

#concon h1 {
  font-size: 100px;
  font-family: 'Oswald', Helvetica, serif;
  font-weight: 400;
}

@media (max-width: 400px) {
  #concon h1 {
    font-size: 50px;
  }
}

#concon a:link {
  color: #FFFFFF;
  text-decoration: none;
}

#concon a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

#concon a:hover {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}