/* painting divs */
.row {
  border: 2px solid red;
}

.block {
  border: 2px solid green;
  background-color: green;
}

.bigphoto {
  border: 2px solid yellow;
  background-color: yellow;
  height: 500px;
} 
  /* end painting */

.menucontain {
  text-align: center;
}

.mmenu {
  height: 25px;
}

.menu {
  font-size: 12px;
}

.bigphoto h1 {
  text-align: center;
}

.trio {
  text-align: center;
}






